<h1>Login</h1>

<%= form_tag login_path %> <!-- , :class => "form-inline" do -->
  <div class="form-group">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <div class="input-group mb-3">
      <%= password_field_tag :password, nil, :class => "form-control password-input1"  %>
      <div class="input-group-append">
         <button class="toggle-show1 btn btn-outline-secondary" type="button" id="button-addon2">👾Show◎◉</button>
      </div>
    </div>
  </div>


  <%= submit_tag "Login", :class => "btn-lg btn-success" %>
  <!-- < % end % > -->
