<!-- <div class="form-group">
  <form action="/users">
    <label for="exampleFormControlSelect2">Select Industry</label>
    <select multiple class="form-control" id="query" name="query">
      <option>All</option>
      < % @users.each_with_index do |user, index| %>
        < % user.industries.pluck(:name).uniq.each do |industry| % >
          <option>< %= industry.uniq %></option>
        < % end %>
      < % end % >
    </select>
    <button class="btn btn-info btn-sm">Search</button>
  </form>
</div> -->
<div class="row">
  <div class="col-md-5 offset-md-4">
    <h1>View all Companies</h1>
  </div>
</div>


<div class="form-group">
  <% if session[:selected_industry].present? %>
    <label for="exampleFormControlSelect2">Selected Industry: <strong><%= session[:selected_industry] %></strong></label>
  <% else %>
    <label for="exampleFormControlSelect2">Select Industry</label>
  <% end %>

  <form action="/users" class="input-group">

    <select multiple class="industry_select form-control" id="query" name="query">
      <option>All</option>
      <% Industry.all.order(created_at: :desc).each do |industry| %>
        <option><%= industry.name %></option>
      <% end %>
    </select>
    <button class="btn btn-info btn-sm">Search</button>
  </form>
</div>



<%  @users.each do |user| %>
  <% unless user.name == 'Admin' %>
    <div class="listing">
      <%= cl_image_tag user.logo_image, :class => 'thumb' if user.logo_image.present? %>
      <h3><%= link_to user.name, user %></h3>
      <p><%= user.tag_line %></p>
      <p><%= truncate(user.about, length: 300) %></p>
      <p>Find out more at: <%= user.more %> </p>
    </div>
  <% end %>

<% end %>
