
<div class="row">
  <div class="col-md-5 offset-md-4">
    <h1>View all Companies</h1>
  </div>
</div>


<div class="form-group">
  <% if session[:selected_industry].present? %>
    <label for="exampleFormControlSelect2">Selected Industry: <strong><%= session[:selected_industry] %></strong></label>
  <% else %>
    <label for="exampleFormControlSelect2">Select Industry</label>
  <% end %>

  <form action="/users" class="input-group">

    <select multiple class="industry_select form-control" id="query" name="query">
      <option>All</option>
      <% Industry.all.order(created_at: :desc).each do |industry| %>
        <option><%= industry.name %></option>
      <% end %>
    </select>
    <button class="btn btn-info btn-sm">Search</button>
  </form>
</div>


<%  @users.each do |user| %>
  <% unless user.name == 'Admin' %>
    <div class="listing row shadow-sm p-3 mb-5 rounded">
      <%= link_to cl_image_tag(user.logo_image, :class => 'thumb'), user, :class => 'thumb_link' if user.logo_image.present? %>
      <div class="content col-md-10">
        <h3><%= link_to user.name, user %></h3>
        <p><strong><%= user.tag_line %></strong></p>
        <p><%= truncate(user.about, length: 300) %></p>
        <p>Find out more at: <a href="<%= user.more %>"><%= user.more %></a> </p>
      </div>
    </div>
  <% end %>

<% end %>
