<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control' %>
  </div>

  <fieldset class="form-group">
    <label for="user_company">Company or User</label>
    <div class="col-sm-10">
      <div class="form-check">
        <%= f.radio_button :company, true, :class => 'form-check-input' %>
        <%= f.label :company, "Company", :value => "true", :class => "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :company, false, :class => 'form-check-input' %>
        <%= f.label :company, "User", :value => "false", :class => "form-check-label"  %>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <div class="input-group mb-3">
      <%= f.password_field :password, :class => 'form-control password-input1' %>
      <div class="input-group-append">
         <button class="toggle-show1 btn btn-outline-secondary" type="button" id="button-addon2">👾Show◎◉</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <div class="input-group mb-3">
      <%= f.password_field :password_confirmation, :class => 'form-control password-input2' %>
      <div class="input-group-append">
         <button class="toggle-show2 btn btn-outline-secondary" type="button" id="button-addon2">👾Show◎◉</button>
       </div>
    </div>
  </div>


  <%= f.submit "Sign Up", :class => "btn btn-primary" %>
<% end %>
