
<% if @user.banner_image.present? %>
  <div class="banner_image">
    <%= cl_image_tag @user.banner_image, :class => 'banner' %>
  </div>
<% end %>

<!-- <div class="row"> -->
  <!-- <div class="col-md-6"> -->

  <!-- </div> -->

  <!-- < % if @user.logo_image.present? %>
    <div class="col-md-6">
      < %= cl_image_tag @user.logo_image, :class => 'logo' %>
    </div>
  < % end %>

</div> -->



<!-- <div class="row">
  <div class="col-md-3">
    <h2>Trump Assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quod, asperiores dicta doloremque sequi eligendi porro perspiciatis dolor cumque voluptates quis tempora animi ipsum neque et, nulla sint, modi deserunt.</p>
  </div>
  <div class="col-md-6">
    <h2>Royal Family Actually Lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quos temporibus iusto laborum voluptatibus et omnis asperiores, repudiandae natus, dignissimos, quisquam ratione ipsam itaque harum nesciunt earum vel vero numquam.</p>
  </div>
  <div class="col-md-3">
    <h2>Moon Landing Faked</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe id quisquam recusandae minus tenetur, perspiciatis animi qui commodi ad sequi, voluptatibus nihil ratione consectetur eum consequatur eligendi placeat deserunt totam.</p>
  </div>
</div> -->
<div class="about">
  <div class="company_about">
    <h1><%= @user.name %></h1>
    <p>
      <%= @user.about %>
    </p>
  </div>
</div>



<div class="recent_posts">
  <h3 class="recent_heading">Recent Posts</h3>
  <% if @current_user.present? && @current_user.id == @user.id %>
   | 
    <div class="new_post">
      <h4><%= link_to "New Post", new_post_path %></h4>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <div class="listing">
      <%= cl_image_tag post.user.logo_image, :class => 'thumb' if post.user.logo_image.present? %>
      <h3><%= link_to post.user.name, post.user %></h3>
      <p><%= link_to post.title, post %></p>
      <p><%= truncate(post.content, length: 300) %></p>
      <p>Image: <%= post.image %> </p>
    </div>
  <% end %>
</div>
