
<% if @user.banner_image.present? %>
  <div class="banner_image">
    <%= cl_image_tag @user.banner_image, :class => 'banner' %>
  </div>
<% end %>

<% if @user.logo_image.present? %>
  <%= cl_image_tag @user.logo_image, :class => 'logo'%>
<% end %>

<h1><%= @user.name %></h1>

<div class="company_about">
  <p>
    <%= @user.about %>
  </p>
</div>

<div class="new_post">

</div>

<div class="recent_posts">
  <% @posts.each do |post| %>
    <div class="listing">
      <%= cl_image_tag post.user.logo_image, :class => 'thumb' if post.user.logo_image.present? %>
      <h3><%= link_to post.user.name, post.user %></h3>
      <p><%= link_to post.title, post %></p>
      <p><%= truncate(post.content, length: 300) %></p>
      <p>Image: <%= post.image %> </p>
    </div>
  <% end %>
</div>
