<h1>Latest Posts</h1>

<div class="form-group">
  <form action="/posts">
    <% if session[:selected_industry].present? %>
      <label for="exampleFormControlSelect2">Selected Industry: <strong><%= session[:selected_industry] %></strong></label>
    <% else %>
      <label for="exampleFormControlSelect2">Select Industry</label>
    <% end %>
    <select multiple class="form-control" id="query" name="query">
      <option>All</option>
      <% Industry.all.each do |industry| %>
        <option><%= industry.name %></option>
      <% end %>
    </select>
    <button class="btn btn-info btn-sm">Search</button>
  </form>
</div>




<!-- < %= form_for @posts do |f| % >
< %= f.query :query % >

< %= f.submit "Search"% >

< % end % > -->

<form action="/posts">
<input type="text" name="query" id="query" placeholder="I want to find">
<button>Search</button>
</form>

<% @posts.each do |post| %>
  <div class="listing">
    <%= link_to cl_image_tag(post.user.logo_image, :class => 'thumb'), post.user if post.user.logo_image.present? %>
    <h3><%= link_to post.title, post %></h3>
    <p><%= truncate(post.content, length: 300) %></p>
    <p>Image: <%= post.image %> </p>
  </div>

<% end %>
