
<div class="about">
  <div class="post_about">
    <h5><%= @post.user.name %> - Article Type<%= @post.content_type %></h5>

    <h1><%= @post.title %></h1>

    <% if @post.image.present? %>
      <div class="featured_container">
        <%= cl_image_tag @post.image, :class => 'featured' %>
      </div>
    <% end %>

    <p><%= @post.content %></p>
  </div>
</div>
